In [1]:
import numpy as np
import pandas as pd

In [2]:
df_AIQ = pd.read_csv('PRSA_Data_Dingling_20130301-20170228.csv')
df_AIQ.sample(10)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
10370,10371,2014,5,7,2,63.0,72.0,10.0,24.0,800.0,68.0,12.40,993.8,4.8,0.0,NW,0.6,Dingling
29925,29926,2016,7,29,21,144.0,144.0,2.0,7.0,NaN,140.0,30.30,997.2,26.2,0.0,E,2.5,Dingling
1143,1144,2013,4,17,15,54.0,77.0,15.0,30.0,500.0,114.0,16.10,998.7,-3.4,0.0,SE,1.4,Dingling
22681,22682,2015,10,2,1,7.0,7.0,7.0,26.0,300.0,20.0,11.20,1003.8,6.7,0.0,W,1.3,Dingling
6766,6767,2013,12,7,22,254.0,236.0,61.0,129.0,4000.0,1.0,1.30,1011.5,-4.0,0.0,WNW,0.7,Dingling
21337,21338,2015,8,7,1,94.0,101.0,3.0,20.0,900.0,65.0,25.70,1001.4,21.8,0.0,E,2.8,Dingling
34089,34090,2017,1,19,9,31.0,90.0,13.0,11.0,600.0,48.0,-2.35,1019.0,-13.7,0.0,NW,6.2,Dingling
25429,25430,2016,1,24,13,15.0,197.0,4.0,2.0,200.0,75.0,-7.20,1029.8,-26.4,0.0,WNW,8.1,Dingling
6978,6979,2013,12,16,18,106.0,110.0,43.0,86.0,1800.0,1.0,0.50,1020.8,-13.6,0.0,NNW,0.6,Dingling
29680,29681,2016,7,19,16,39.0,39.0,NaN,8.0,900.0,97.0,22.40,998.8,21.9,2.3,WSW,1.0,Dingling

In [3]:
df_AIQ.shape

(35064, 18)

In [4]:
df_AIQ.columns

Index(['No', 'year', 'month', 'day', 'hour', 'PM2.5', 'PM10', 'SO2', 'NO2',
       'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station'],
      dtype='object')

In [46]:
def overview(df, col=None):
    
    print(f'Shape of the dataframe: {df.shape}\n')

    print(f'Data types of the columns:\n\n{df.dtypes}\n')
    
    # Convert null values counts to a DataFrame and print it
    null_counts = pd.DataFrame(df.isnull().sum(), columns=['Null Counts'])
    print(f'Null values counts:')
    return null_counts

    if col is not None:
        df[col] = pd.to_datetime(df[col])
        print(f'Range:\nStart: {df[col].min()}')
        print(f'End: {df[col].max()}\n')
        
        total_days = (df[col].max() - df[col].min()).days
        print(f'Total days: {total_days}')

In [47]:
overview(df_AIQ)

Shape of the dataframe: (35064, 18)

Data types of the columns:

No           int64
year         int64
month        int64
day          int64
hour         int64
PM2.5      float64
PM10       float64
SO2        float64
NO2        float64
CO         float64
O3         float64
TEMP       float64
PRES       float64
DEWP       float64
RAIN       float64
wd          object
WSPM       float64
station     object
dtype: object

Null values counts:

         Null Counts
No                 0
year               0
month              0
day                0
hour               0
PM2.5            779
PM10             656
SO2              730
NO2             1234
CO              2012
O3              1214
TEMP              53
PRES              50
DEWP              53
RAIN              51
wd               140
WSPM              43
station            0